# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
/Library/
/Library/ArtifactDB/
/Library_Android/
/Library_Windows/
/Library_iOS/
/Library_PC/
/Builds/
Assets/StreamingAssets/build_info.txt
#Assets/Private/Technical/Prefabs/Levels/
#Segments
#Assets/JMO Assets
#Assets/Magic Spells and Popup effects
/certificate/
/xcode/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
/.vs/
*.svd
*.csv
*.log
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.idea/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.fake
.ionide